/* header */

position: absolute;
width: 1052px;
height: 105px;
left: 24px;
top: 92px;



/* contacts */

position: absolute;
width: 240px;
height: 97px;
right: 30px;
top: 3px;



/* наб. Принсенграхт 263-265, Амстердам */

position: absolute;
width: 240px;
height: 49px;
left: 782px;
top: 51px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 135% */

color: #000000;



/* info@sobaka.ge */

position: absolute;
width: 240px;
height: 24px;
left: 782px;
top: 27px;



/* Line 5 */

position: absolute;
width: 130px;
height: 0px;
left: 782px;
top: 51px;

border: 1px solid #000000;


/* info@sobaka.ge */

position: absolute;
width: 240px;
height: 24px;
left: 782px;
top: 27px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 135% */

color: #000000;



/* +9 999 555 5555 */

position: absolute;
width: 240px;
height: 24px;
left: 782px;
top: 3px;



/* Line 4 */

position: absolute;
width: 132px;
height: 0px;
left: 782px;
top: 27px;

border: 1px solid #000000;


/* +9 999 555 5555 */

position: absolute;
width: 240px;
height: 24px;
left: 782px;
top: 3px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
/* or 135% */

color: #000000;



/* logo */

position: absolute;
width: 148px;
height: 105px;
left: calc(50% - 148px/2 + 2px);
top: -2px;



/* Vector */

position: absolute;
width: 124.05px;
height: 94.84px;
left: 11.39px;
top: 2.79px;

border: 6px solid #000000;


/* Vector */

position: absolute;
width: 129.11px;
height: 104.65px;
left: 9.03px;
top: 1.16px;

background: #000000;


/* menu */

position: absolute;
width: 388px;
height: 23px;
left: 34.19px;
top: 41px;



/* об аукционе */

position: absolute;
width: 127px;
height: 23px;
left: 295.19px;
top: 41px;



/* Line 3 */

position: absolute;
width: 108px;
height: 0px;
left: 313.19px;
top: 64px;

border: 1px solid #000000;


/* об аукционе */

position: absolute;
width: 108px;
height: 21px;
left: 314.19px;
top: 41px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #000000;



/* list_marker */

box-sizing: border-box;

position: absolute;
width: 7px;
height: 7px;
left: 295.19px;
top: 51px;

border: 1px solid #000000;


/* посмотреть лоты */

position: absolute;
width: 168px;
height: 23px;
left: 114.19px;
top: 41px;



/* Line 2 */

position: absolute;
width: 148px;
height: 0px;
left: 133.19px;
top: 64px;

border: 1px solid #000000;


/* посмотреть лоты */

position: absolute;
width: 149px;
height: 21px;
left: 133.19px;
top: 41px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #000000;



/* list_marker */

box-sizing: border-box;

position: absolute;
width: 7px;
height: 7px;
left: 114.19px;
top: 51px;

border: 1px solid #000000;


/* главная */

position: absolute;
width: 67px;
height: 21px;
left: 34.19px;
top: 41px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

color: #000000;

